body{
    background: bisque;
}
.container{
    width: auto;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 4fr;
    
}


.ver{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 10px;
}
.imagenp{
    width: 60px;
    
}
.imghead{
    display: flex;
    justify-content: center;
}

.titulo{
    display: flex;
    justify-content: center;
}
.buscar{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 300px;
}

.buscarh{
    
}


.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}